<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <title>SPCC - Caloocan | News</title>
  <meta name="description" content="Systems Plus Computer College - Caloocan Website." />
  <meta name="author" content="Joeylene Rivera" />

  <link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="assets/css/styles.css" />
</head>

<body>
  <!-- Site Header -->
  <header class="site-header">
    <div class="logo">
      <a href="index.html">
        <img src="assets/img/logo.png" alt="SPCC Logo" />
      </a>
    </div>

    <div class="mobile-nav">
      <a href="javascript:void(0);" class="icon" onclick="toggleNavResponsive()">
        <i id="navIcon" class="fa fa-2x fa-bars"></i>
      </a>
    </div>

    <div id="siteNav" class="site-nav">
      <nav class="nav-portal">
        <ul>
          <li><a href="student.html">student</a></li>
          <li><a href="faculty.html">faculty</a></li>
        </ul>
      </nav>
      <nav class="nav-main">
        <ul>
          <li><a href="index.html">home</a></li>
          <li><a href="about.html">about</a></li>
          <li class="active"><a href="news.html">news</a></li>
          <li><a href="contact.html">contact</a></li>
          <li class="cat"><a href="enroll.html">enroll</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- end Site Header -->

  <!-- Page Cover Section -->
  <section class="section page-cover news-cover">
    <div class="page-title">
      <h1>News</h1>
    </div>

    <canvas class="particles-background"></canvas>
  </section>
  <!-- end Page Cover Section -->

  <!-- Featured News -->
  <section class="section featured-news">
    <article>
      <div class="cover-image">
        <img src="assets/img/news/news1.jpg">
      </div>
      <div class="content">
        <div class="news-meta">
          <h2>
            <a href="article.html" class="title">
              S.Y. 2019-2020 School Opening
            </a>
          </h2>
          <div class="meta">
            Admin
            <span class="publish-date">Jun 24, 2019</span>
          </div>
        </div>
        <div class="article-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim...
          </p>
          <a href="article.html" class="link">Read More</a>
        </div>
      </div>
    </article>

    <div class="bg">
      <img src="assets/img/circle-pattern-white.svg" class="circle-pattern-top" />
      <img src="assets/img/circle-pattern-white.svg" class="circle-pattern-bottom" />
    </div>
  </section>
  <!-- end Featured News -->

  <!-- News -->
  <section class="section news">
    <article>
      <img src="assets/img/news/news2.jpg">
      <div class="news-meta">
        <h2>
          <a href="article.html" class="title">
            Basketball: ADU vs SPCC
          </a>
        </h2>
        <div class="meta">
          Admin
          <span class="publish-date">Aug 07, 2019</span>
        </div>
      </div>
      <div class="article-content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud...
        </p>
        <a href="article.html" class="link">Read More</a>
      </div>
    </article>

    <article>
      <img src="assets/img/news/news3.jpg">
      <div class="news-meta">
        <h2>
          <a href="article.html" class="title">
            Blessing and Opening of the New Gymnasium
          </a>
        </h2>
        <div class="meta">
          Admin
          <span class="publish-date">Sep 07, 2019</span>
        </div>
      </div>
      <div class="article-content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud...
        </p>
        <a href="article.html" class="link">Read More</a>
      </div>
    </article>
  </section>
  <!-- end News -->

  <!-- Footer -->
  <footer class="site-footer">
    <div class="school-info">
      <img src="assets/img/logo-with-shadows.png" alt="SPCC Logo" />
      <div class="headline">Systems Plus Computer College</div>
      <div class="sub-headline">Caloocan Campus</div>
      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Nam aliquam sem et tortor consequat id porta nibh
        venenatis.
      </div>
      <div class="credited-logo">
        <img src="assets/img/deped-logo.png" alt="DepEd Logo" />
        <img src="assets/img/ched-logo.png" alt="CHED Logo" />
        <img src="assets/img/tesda-logo.png" alt="Tesda Logo" />
      </div>
    </div>

    <div class="contact-info">
      <div class="item">
        <p class="field">visit us.</p>
        <p class="content">
          141-143, 10th Avenue, Corner 6th & 7th, East Grace Park, Caloocan City
        </p>
      </div>

      <div class="item">
        <p class="field">contact us.</p>
        <ul class="content">
          <li>Principal’s Office: 367-75-01</li>
          <li>Admission’s Office: 364-21-29</li>
          <li>Registrar’s Office: 365-47-43</li>
        </ul>
      </div>

      <div class="item">
        <p class="field">social media.</p>
        <div class="content">
          <a target="_blank" href="https://www.facebook.com/SPCCCaloocanOfficial">
            <i class="fa fa-facebook-square"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="copyright">
      2019 Systems Plus Computer College - Caloocan
    </div>
    <div class="credits">
      Made with love by
      <a target="_blank" href="team.html">
        JOBRYGE
      </a>
    </div>
  </footer>
  <!-- end Footer -->

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="assets/js/particles.js"></script>
  <script src="assets/js/script.js"></script>
</body>

</html>