.ql-toolbar {
  position: relative;
  padding: .625rem .75rem;
  color: #8898aa;
  border: 1px solid #dee2e6;
  border-radius: .5rem .5rem 0 0;
  background-color: #fff;
}

.ql-container {
  border-radius: 0 0 .5rem .5rem;
}