@import url('https://fonts.googleapis.com/css?family=Open+Sans:400|Roboto+Mono:300,700&display=swap');

body {
  background-color: #0f1c70;
}

.particles-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

h2 {
  font-family: 'Roboto Mono', monospace;
}

p {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

a:hover {
  color: #f9ae17;
}

/* =======================================
 * SITE HEADER
 * ======================================= */

.site-header {
  width: 100%;
  position: fixed;
  background: #0f1c70;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: '. .''. .';
  z-index: 25;
}

.site-header .logo img {
  width: 300px;
}

.site-nav {
  margin-right: 5%;
}

.site-header nav {
  text-align: right;
}

.site-header nav ul {
  margin: 0;
  list-style: none;
  display: inline-flex;
}

.site-header nav li {
  padding: 10px 20px;
  text-transform: uppercase;
}

.site-header a {
  font-size: 18px;
}

.nav-portal li {
  padding: 0 5px 0 5px;
}

.nav-portal a {
  font-size: 12px;
}

/* Mobile Navigation */
.mobile-nav {
  display: none;
  padding-top: 20px;
  padding-right: 15px;
}

@media screen and (max-width: 1023px) {
  .site-nav {
    display: none;
  }

  .site-header .mobile-nav {
    text-align: right;
    display: block;
    margin-right: 10px;
  }

  .site-nav.responsive {
    display: block;
    grid-column: 1 / span 2;
    margin: 0;
  }

  .site-nav.responsive .nav-portal {
    margin-bottom: 10px;
  }

  .site-nav.responsive .nav-portal ul {
    display: inline-flex;
  }

  .site-nav.responsive ul {
    display: block;
    padding: 0;
  }

  .site-nav.responsive li:hover {
    background: #f9ae17;
  }

  .site-nav.responsive a:hover {
    color: #fff;
  }
}

/* =======================================
 * HERO SECTION
 * ======================================= */

section.hero {
  height: 550px;
  display: grid;
  padding-top: 100px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: '. .''. .';
  justify-items: center;
  align-items: center;
  color: #fff;
}

section.hero .content {
  width: 400px;
}

section.hero .headline {
  margin: 0;
  font-size: 100px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

section.hero .description {
  margin: 10px 0;
  font-size: 28px;
  font-weight: 300;
  font-family: 'Roboto Mono', monospace;
}

section.hero .btn {
  display: inline-block;
  padding: 20px 30px;
  margin: 30px 0;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.2em;
  border: 2px solid #fff;
  border-radius: 5px;
  text-transform: uppercase;
}

section.hero .btn:hover {
  color: #0f1c70;
  background: #fff;
}

section.hero .image {
  width: 100%;
  text-align: right;
}

section.hero img {
  width: 75%;
  min-width: 75%;
}

section.hero .img-overlay {
  width: 40%;
  height: 75%;
  position: absolute;
  top: 23%;
  right: 1%;
  z-index: 2;
  background: rgba(255, 255, 255, 0.52);
}

/* =======================================
 * RESPONSIVENESS
 * ======================================= */

/* mobile: up to 768px */
@media only screen and (max-width: 768px) {
  /* */
}

/* tablet: up to from 769px */
@media only screen and (min-width: 769px) {
  /* */
}

/* desktop: up to from 1024px */
@media only screen and (min-width: 1024px) {
  /* */
}

/* widescreen: up to from 1216px */
@media only screen and (min-width: 1216px) {
  /* */
}

/* fullhd: up to from 1408px */
@media only screen and (min-width: 1408px) {
  /* */
}